/* style basic */

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333333;
}

.container {
    width: 960px;
    margin: auto;
    background-color: #ffffff;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul {
    padding: 0;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 5px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 400px;
    background-image: url(img/todoroki.png);
    background-size: cover;
    background-position: 0 -30px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightskyblue;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
}

.main .penulis {
    font-size: 11px;
    margin-top: -15px;
}

.main .penulis a {
    color: salmon;
    text-decoration: none;
}

.main p {
    margin-bottom: 20px;
    font-size: 13px;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3 {
    font-weight: bold;
    color: #666;
}

.sidebar img {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 15px;
}

.sidebar p {
    font: 12px/18px arial;
}

.footer {
    background-color: #333;
    padding: 5px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}



/* clear fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}