body {
    font: 16px/28px arial, sans-serif;
    background-color: #fff;
    color: #333333;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.navbar {
    height: 50px;
    background-color: #8e8e8e;
    display: flex;
}

.navbar i {
    margin: 5px;
    margin-left: 15px;
    font-size: 40px;
}

.menu {
    float: right;
    font-size: 15px;
} */

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .profile {
    background-color: #eaeaea;
    width: 300px;
}

.content .main {
    width: 600px;
    background-color: #eaeaea;
}

.content .additional {
    width: 300px;
    background-color: #eaeaea;
}

.content .profile .first {
    display: flex;
    margin: 10px;
    background-color: white;
    padding: 3px 3px 15px 15px;
}

.content .profile .first i {
    font-size: 30px;
    margin: 10px;
}

.content .main .first, .second, .third {
    margin: 10px;
    background-color: white;
    padding: 3px 3px 15px 15px;
}

.content .main .second img {
    width: 130px;
    padding-right: 6px;
}

.content .additional .first {
    margin: 10px;
    background-color: white;
    padding: 3px 3px 15px 15px;
}

.content .additional .second img {
    width: 110px;
    padding-left: 5px;
}

.content .additional .third img {
    width: 240px;
    height: 120px;
    padding-bottom: 7px;
}