* {
    margin: 0;
}

body {
    font: 16px/28px arial, sans-serif;
    box-sizing: border-box;
    background: white;
}

.navbar {
    background: #696969;
    max-width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar_left {
    width: 25%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar_left a {
    display: none;
}

.navbar_logo {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
}

.icon {
    padding: 13px 10px;
    color: rgb(61, 59, 59);
    min-width: 20px;
    text-align: center;
    margin-right: 20px;
}

.input-field {
    width: 100%;
    padding: 12px 0 12px 35px;
    background: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #a8abaf;
}

.navbar a,
.navbar a i {
    text-decoration: none;
    color: #b8bbbf;
    font-size: 23px;
}

.navbar_right {
    width: 35%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 45px;
}

.navbar_right_profile {
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 20px;
    transition: 0.2s;
}

.navbar_right_profile img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.navbar_right_profile span {
    color: #e7e9ed;
    font-size: 15px;
    font-weight: 500;
}

.navbar_right_links i {
    margin-right: 5px;
    background: #404041;
    padding: 12px;
    border-radius: 5px;
    color: #e7e9ed;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.content {
    background: rgb(218, 218, 218);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.content-left {
    width: 25%;
    margin-top: 20px;
}

.content-left ul {
    display: flex;
    margin-bottom: 25px;
}

.content-left ul a i {
    font-size: 20px;
    margin: 10px;
    margin-left: 0px;
}

.content-center {
    width: 50%;
}

.content-center .post-container {
    margin-top: 15px;
}

.post {
    display: flex;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.post i {
    margin-right: 20px;
    font-size: 30px;
}

.post input {
    width: 100%;
    padding: 12px 0 12px 35px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background: #a8abaf;
}

.stories {
    padding: 0px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

.stories img {
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.feed-container {
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.feed-container p {
    font-weight: bold;
}

.feed p {
    font-weight: lighter;
}

.content-right {
    width: 25%;
    align-items: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list {
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.list img {
    width: 100px;
    padding: 5px;
    margin: 5px;
    align-items: center;
}

.people {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.people ul {
    align-items: center;
    margin-left: -35px;
}

.people ul img {
    width: 220px;
    height: 80px;
    padding: 5px;
}

#toogle {
    display: none;
}

.toogle_close {
    display: none;
}

@media (max-width: 768px) {
    .navbar_right {
        width: 50%;
    }

    .content-left {
        display: none;
    }

    .content-center {
        width: 70%;
    }

    .post-container,
    .stories-container {
        width: 90%;
        margin-left: 30px;
    }

    .stories img {
        margin: 7px;
        height: 170px;
    }

    .feed-container {
        margin-left: 30px;
        width: 84%;
    }

    .content-right {
        width: 30%;
    }

    .list,
    .people {
        width: 75%;
    }

    .people ul img {
        width: 120px;
        height: 60px;
    }

    .navbar_right {
        display: none;
    }
}

@media (max-width: 576px) {
    .navbar_right,
    .content-right {
        display: none;
    }

    .navbar_left a {
        display: flex;
        margin-right: 10px;
    }

    .content-center {
        width: 100%;
    }

    .content-left ul a {
        margin-top: 30px;
    }

    .content-left {
        position: fixed;
        display: block;
        top: -20px;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #a8abaf;
        z-index: 1;
        overflow-y: hidden;
        transition: all 0.5s;
    }
}
